.contain{
    padding-left: 25px;
    padding-top: 25px;
    height: 100%;
    width: 100%;
}
.box{
    height: 200px;
    background-color:aqua;
}
/* user-greet */

.user-left-greeting {
  padding: var(--td-comp-paddingTB-xxl) var(--td-comp-paddingLR-xxl);
  font: var(--td-font-title-large);
  background: var(--td-bg-color-container);
  color: var(--td-text-color-primary);
  text-align: left;
  border-radius: var(--td-radius-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-left-greeting .regular {
    margin-left: var(--td-comp-margin-xl);
    font: var(--td-font-body-medium);
}

.user-left-greeting .logo {
    width: 168px;
}

/* userInfo */

.user-info-list {
  margin-top: var(--td-comp-margin-l);
  padding: var(--td-comp-paddingTB-xxl) var(--td-comp-paddingLR-xxl);
}
.user-info-list .content {
  width: 90%;
}
.user-info-list :deep(.t-card__header) {
  padding: 0;
}
.user-info-list :deep(.t-card__body) {
  padding: 0;
}
.user-info-list .contract-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: var(--td-comp-margin-xxxl) 0 var(--td-comp-margin-l);
  font: var(--td-font-body-medium);
  color: var(--td-text-color-placeholder);
}
.user-info-list .contract-detail2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: var(--td-font-body-medium);
  color: var(--td-text-color-primary);
}
.user-info-list .contract:last-child {
  margin-bottom: 0;
}

/* userIntro */
.user-intro {
  padding: var(--td-comp-paddingTB-xxl) var(--td-comp-paddingLR-xxl);
  background: var(--td-brand-color);
  border-radius: var(--td-radius-medium);
  color: var(--td-text-color-primary);
}
.user-intro :deep(.t-card__body) {
  padding: 0;
}
.user-intro .name {
  font: var(--td-font-title-large);
  margin-top: var(--td-comp-margin-xxxl);
  color: var(--td-text-color-anti);
}
.user-intro .position {
  font: var(--td-font-body-medium);
  margin-top: var(--td-comp-margin-s);
  color: var(--td-text-color-anti);
}
.user-intro .user-info {
  line-height: 24px;
  font-size: 14px;
  color: var(--td-text-color-primary);
}
.user-intro .user-info .hiredate,
.user-intro .user-info .del,
.user-intro .user-info .mail {
  display: flex;
}
.user-intro .user-info .t-icon {
  height: 24px;
  margin-right: 8px;
}
.user-intro .user-info .del {
  margin: 16px 0;
}

/*常用联系人*/
.user-team {
  margin-top: var(--td-comp-margin-l);
  padding: var(--td-comp-paddingTB-xxl) var(--td-comp-paddingLR-xxl);
}
.user-team :deep(.t-card__header) {
  padding: 0;
  margin-bottom: var(--td-comp-margin-m);
}
.user-team :deep(.t-card__body) {
  padding: 0;
}
.user-team .t-list-item {
  margin-top: var(--td-comp-margin-xxl);
  padding: 0;
}
.user-team .t-list-item :deep(.t-list-item__meta-avatar) {
  height: var(--td-comp-size-xxl);
  width: var(--td-comp-size-xxl);
  margin-right: var(--td-comp-margin-xxl);
}
.user-team .t-list-item :deep(.t-list-item__meta-title) {
  margin: 0 0 var(--td-comp-margin-xs);
}
.user-team .t-list-item :deep(.t-list-item__meta-description) {
  display: inline-block;
  color: var(--td-text-color-placeholder);
  font: var(--td-font-body-medium);
}
